:root {
  --pink: #B28B84;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cardo", sans-serif;
  font-style: italic;
}

.main-logo-style {
  text-align: center;
  margin-top: 50px;
}

.main-logo {
  width: 200px;
  height: 150px;
  margin-bottom: 35px;
}

#toggler {
  margin-bottom: 40px;
  border: 1px solid #ceb8ab;
}

.navbar-toggler-icon {
  background-image: url(images/toggler2.svg) !important;
  font-size: 25px;
}

.nav-item {
  margin: 1px auto;
  font-size: 23px;
}

.carousel-item img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  margin-top: 30px;
}

.carousel-caption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: initial;
  top: 55%;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ceb8ab;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ceb8ab;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.welcome-p {
  font-size: 1.5rem;
}

.welcome-title {
  font-size: 2.1rem;
}

.showme {
  opacity: 1 !important;
}

.fadedown {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(80%, #fff), color-stop(80%, #C0C0C0));
  background: linear-gradient(to right, #fff 0%, #fff 80%, #C0C0C0 80%);
  padding-bottom: 15px;
}

.about h1 {
  font-weight: 600;
  margin-top: 30px;
  font-size: 35px;
}

.about p {
  padding: 0 20px;
  font-size: 20px;
  margin-top: 15px;
}

.parallax {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img1 {
  background-image: url("images/beauty2.jpg");
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 40px 0 40px 0;
}

.about-img {
  width: 100%;
  height: auto;
  margin-top: 25px;
  -webkit-box-shadow: 24px 24px 0px 0px #ceb8ab;
  box-shadow: 24px 24px 0px 0px #ceb8ab;
}

.about-img-info {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.middle-line {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 20px;
}

span.middle-line:before {
  content: '';
  position: absolute;
  background-color: #ceb8ab;
  width: 50px;
  height: 3px;
  top: 50%;
  left: -60px;
}

span.middle-line:after {
  content: '';
  position: absolute;
  background-color: #ceb8ab;
  width: 50px;
  height: 3px;
  top: 50%;
  right: -60px;
}

.contact-bottom {
  width: 100%;
  height: 350px;
  background-color: #ceb8ab;
  text-align: center;
  color: white;
}

.contact-bottom .fa-arrow-up {
  margin-top: 30px;
}

.contact-bottom h2 {
  font-weight: 600;
}

.contact-bottom h5 {
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-bottom h6 {
  margin: 20px auto;
}

.icon {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 25%;
  margin: 0 10px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.icons i {
  margin: 0 10px;
}

.word {
  margin: auto;
  color: white;
  font-size: 35px;
  display: none;
}

.cennik {
  text-align: center;
}

.cennik h2 {
  font-weight: 600;
  text-align: center;
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(65%, #fff), color-stop(65%, #C0C0C0));
  background: linear-gradient(to right, #fff 0%, #fff 65%, #C0C0C0 65%);
}

.cennik .table tr td {
  padding: 10px 20px;
  font-size: 20px;
  text-align: left;
}

.cennik p {
  text-align: center;
  font-size: 19px;
  padding: 10px 30px;
}

.zabiegi {
  text-align: center;
}

.zabiegi p {
  text-align: center;
  font-size: 19px;
  padding: 10px 30px;
  margin-top: 60px;
}

.zabiegi-item {
  margin: 30px 0;
}

.zabiegi-item h1 {
  margin: 30px;
}

.zabiegi-item img {
  height: 240px;
  width: 340px;
}

.szkolenia h1 {
  font-weight: 600;
  font-size: 33px;
}

.szkolenia .szkolenia-item {
  padding-bottom: 30px;
}

.szkolenia p {
  font-size: 22px;
}

.szkolenia li {
  font-size: 21px;
}

.szkolenia img {
  max-width: 90%;
  height: auto;
  margin-top: 30px;
}

.col-lg-4 img {
  width: 100%;
  height: 350px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.col-lg-4 img:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.col-lg-4 img:hover {
  cursor: pointer;
  z-index: 4;
}

.szkolenia-info {
  text-align: left;
  font-size: 19px;
  margin: 40px 0;
}

.pink {
  background: #ceb8ab;
  padding: 10px;
  color: white;
}

.regulamin {
  padding: 10px;
  font-size: 18px;
}

.regulamin h2 {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 40px;
}

.kontakt {
  margin-top: 60px;
  text-align: center;
}

.gallery {
  text-align: center;
}

.gallery h1 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 50px;
}

.list {
  text-align: center;
}

.list img {
  max-width: 80%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container {
  margin-top: 45px;
}

.container .col-sm-5 {
  margin-bottom: 40px;
}

@media (max-width: 360px) {
  .wrapper {
    margin: 0 auto;
    width: 360px;
  }
}

@media (max-width: 600px) {
  .contact-bottom {
    height: 450px;
  }
}

@media (max-width: 767px) {
  .map {
    margin-top: 30px;
  }
}

@media (min-width: 600px) {
  .zabiegi-item:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  .cennik {
    margin: 30px auto;
    width: 780px;
  }
}

@media (min-width: 768px) {
  .bg-left {
    background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(80%, #fff), color-stop(80%, #C0C0C0));
    background: linear-gradient(to left, #fff 0%, #fff 80%, #C0C0C0 80%);
  }
  .bg-right {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(80%, #fff), color-stop(80%, #C0C0C0));
    background: linear-gradient(to right, #fff 0%, #fff 80%, #C0C0C0 80%);
  }
}

@media (min-width: 900px) {
  .carousel-item img {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .szkolenia-info {
    width: 93%;
  }
  .szkolenia-item {
    width: 93%;
  }
  .middle-text {
    background: #ceb8ab;
    margin: 0 auto;
    width: 36%;
    height: 120px;
    opacity: 0.9;
    padding: 10px;
  }
  .welcome-p {
    display: none;
  }
  .word {
    display: block;
  }
}

@media (max-width: 991px) {
  .col-lg-4 img {
    width: 100%;
  }
}

@media (min-width: 740px) and (max-width: 991px) {
  .col-lg-4 img {
    width: 700px;
    margin: 30px auto;
  }
}

@media (min-width: 1000px) {
  .regulamin {
    width: 950px;
    margin: 40px auto;
  }
}

@media (min-width: 1200px) {
  .wave {
    margin-bottom: -90px;
  }
  footer {
    margin-top: -100px;
  }
  .nav-item {
    margin: 0 20px;
  }
}

@media (min-width: 2000px) {
  .wrapper {
    margin: 0 auto;
    width: 2000px;
  }
}
/*# sourceMappingURL=style.css.map */